body{
    background-color: #eee;
    font-family: Trebuchet, Calibri, Arial;
    color: #333;
}
.container{
    width: 600px;
    margin: auto;

}

form.session{
    width: 400px;
    margin: auto;
}
form.session div{
    clear: both;
}
form.session label{
    display: block;
    float: left;
    width: 100px;
}
form.session input[type=submit]{
    margin: 5px 100px;
}
form.session .error{
    text-align: center;
    font-size: 1.1em;
    background: #fcc;
    padding: 10px;
    margin-bottom: 20px;
}
form.session .notice{
    text-align: center;
    font-size: 1.1em;
    background: #cfc;
    padding: 10px;
    margin-bottom: 20px;
}

form textarea{
    width: 400px;
    height: 160px;
    padding: 3px;
    display: block;
}
form.comment textarea{
    height: 60px;
}
.footer{
    font-size: 0.9em;
    color: #777;
    text-align: center;
}
.footer a{
    display: block;
    color: #777;
    font-weight: bold;
}
h1{
    margin-bottom: 0;
    text-align: center;
}
h1 a{
    text-decoration: none;
    color: #559;
}
h2{
    margin-top: 0;
    text-align: center;
}
h3 a{
    text-decoration: none;
    color: #595;
}
p{
    text-align: justify;
}